.mainWrapper{
    width: 100%;
    height: 100%;
    /* margin-left: 15px; */
}

h1, h3 {
  text-align: center;
}

.selectStyle {
  width: 85%;
}

.staticGraph {
  margin-top: 2px;
}

hr{ 
  
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100%;
    width:          1px;       
}



